  # Digital Twin data simulator
  digital-twin-data-gateway:
    image: "${DIGITAL_TWIN_REGISTRY}digital-twin-data-gateway-@@VERSION@@"
    restart: unless-stopped
    container_name: digital-twin-data-gateway
    depends_on:
      digital-twin-rest-db:
        condition: service_healthy
    links:
      - digital-twin-rest-db
@@CONFIG@@