  # Authentication DB
  digital-twin-keycloak-postgres:
    image: postgres:15
    container_name: digital-twin-keycloak-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready -U postgres"
@@CONFIG@@
  # Keycloak
  digital-twin-keycloak:
    image: quay.io/keycloak/keycloak:22.0.1
    container_name: digital-twin-keycloak
    restart: unless-stopped
    depends_on:
      - digital-twin-keycloak-postgres
    volumes:
      - /etc/localtime:/etc/localtime:ro
    command:
      - start-dev
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_USER}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_PASSWORD}
      - PROXY_ADDRESS_FORWARDING=${PROXY_ADDRESS_FORWARDING}
      - KC_HTTP_RELATIVE_PATH=${KEYCLOAK_FRONTEND_URL}
      - KC_DB=postgres
      - KC_PROXY=edge
      - KC_DB_URL_HOST=digital-twin-keycloak-postgres
      - KC_DB_URL_DATABASE=${POSTGRES_DATABASE}
      - KC_DB_USERNAME=${POSTGRES_USER}
      - KC_DB_PASSWORD=${POSTGRES_PASSWORD}
      - KC_HEALTH_ENABLED=true
      - KC_HTTP_ENABLED=true
      - KC_LOG_LEVEL=INFO,org.infinispan:DEBUG,org.jgroups:DEBUG
@@CONFIG@@