# Developing machine IP
DIGITAL_TWIN_HOST=
DIGITAL_TWIN_CODENAME=HelloDigitalTwin
DIGITAL_TWIN_VERSION=1.0

# Digital Twin Registry
DIGITAL_TWIN_REGISTRY=

# Primary server or CDN
DIGITAL_TWIN_HOSTNAME=localhost

# Communication protocol
DIGITAL_TWIN_HTTP_PROTOCOL=http://
DIGITAL_TWIN_WS_PROTOCOL=ws://

# Override docker compose DNS. Try to enable this if your containers cannot connect 
# to internet or find other containers 
DIGITAL_TWIN_ENABLE_DNS=false

# Generate custom networks 
DIGITAL_TWIN_ENABLE_NETWORKS=true

# Use network mode for all containers. It override networks.
DIGITAL_TWIN_NETWORK_MODE=off

# Enable logging options to limit logs. Recommended for production
DIGITAL_TWIN_ENABLE_LOGGING_OPTIONS=true

# Change proxy sub network port
DIGITAL_TWIN_PROXY_PORT=

# Keycloak
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=password
KEYCLOAK_DB_PASSWORD=password
KEYCLOAK_FRONTEND_URL=/auth
PROXY_ADDRESS_FORWARDING=true

# Keycloak database
POSTGRES_USER=keycloak
POSTGRES_DATABASE=keycloak
POSTGRES_PASSWORD=password

# Swagger API. Paths should not end with /
SWAGGER_API_HOSTNAME=localhost

# Use /api for production releases, or empty for development
SWAGGER_API_PATH=/api
SWAGGER_API_MONGODB_DOWNLOAD_URL=https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-ubuntu1804-4.2.8.tgz
SWAGGER_API_MONGODB_VERSION=4.2.8
SWAGGER_EMULATOR_PORT=8088
